* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: UberMove, system-ui, "Helvetica Neue", Arial, sans-serif;
}

nav {
    padding: 20px;
    background: #000;
}

nav h1 {
    color: #fff;
    font-size: 24px;
}

.container {
    max-width: 460px;
    margin: 40px auto;
    padding: 0 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    color: #333;
}

input {
    padding: 12px;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    font-size: 16px;
}

.continue-btn{
    background: #000;
    color: #fff;
    list-style: none;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.continue-btn a{
    text-decoration: none;
    color: white;
}

.divider {
    display: flex;
    align-items: center;
    gap: 10px;
}

.line {
    flex: 1;
    height: 1px;
    /* width:10px; */
    background: #e2e2e2;
}

.or {
    color: #666;
    font-size: 14px;
}

.social-btn, .qr-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    background: #fff;
    font-size: 16px;
    cursor: pointer;
}

.social-btn img ,.social-btn i{
    width: 50px;
    height: 20px;
}

.terms {
    font-size: 12px;
    color: #666;
    text-align: center;
    line-height: 1.4;
}

/* Responsive Design */
@media (max-width: 480px) {
    .container {
        margin: 20px auto;
    }
    
    h2 {
        /* font-size: 24px; */
    }
}