*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
nav{
    display:flex;
    width:100%;

    /* justify-content: space-around; */
    align-items: center;
    background-color: hwb(0 87% 11%);
    height:auto;
}
nav h2{
    margin-left: 50px;
    font-size: 24px;
    cursor: pointer;
    font-weight: 400;
    cursor: pointer;
}
nav li{
    display: inline;
    font-size: 20px;;
    /* margin-left: 100px; */
    cursor: pointer;
}
.signup-btn{
    /* background-color: black; */
    /* color: white; */
    padding: 10px 20px;
    border-radius: 20px;
    align-items: left;
    text-align: end;
    margin-left: 50%;
    border: none;
    cursor: pointer;
}
.signup-btn button{
    background-color: black;
    color:white;
    padding:10px;
    border-radius: 20px;
    border: none;    margin-top: 10px;;

    text-align: center;
    align-items: center;
}
.signup-btn button:hover{
    background-color: gray;
    transition: 0.5s;
}
.container{
    height: 100vh;
    width: 100%;
    /* border:1px solid gray; */
    background-image: url('russia.jpeg');
    background-size: 65% 100%;
    position: relative;
    background-position: right;
    background-repeat: no-repeat;
}

.ride{
    display:grid;
    height:400px;
    width:300px;
    /* border:1px solid gray; */
    background-color: whitesmoke;
    margin-left: 100px;
    margin-top: 50px;
    border-radius:20px;
    padding:10px;
    gap:8px;
    /* box-shadow: 0 0 10px 0 gray; */
    /* text-align: center; */
    /* margin-top: 50px; */
    /* justify-content: space-around; */

}
.ride p{
    font-size: 28px;
    font-weight: 600;
}
.ride input{
    height:40px;
    width:90%;
    border-radius: 10px;
    border:1px solid gray;
    padding-left: 10px;
    font-size: 16px;
}
.maps-img{
    height:400px;
    width:600px;
    border:1px solid gray;
    margin-left: 600px;
    margin-top: -450px;
    border-radius:20px;
    box-shadow: 0 0 10px 0 gray;
}
/* Mobile First Base Styles (320px and up) */
@media screen and (max-width: 767px) {
nav {
    flex-direction: column;
    padding: 16px;
    gap: 16px;
}

nav h2 {
    margin-left: 0;
    text-align: center;
}

nav li {
    display: block;
    margin-left: 0;
    margin-bottom: 12px;
}

.signup-btn {
    margin-left: 0;
    width: 100%;
    text-align: center;
}

.container {
    height: auto;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.ride {
    width: 90%;
    margin: 20px auto;
    height: auto;
    min-height: 350px;
}

.maps-img {
    width: 90%;
    height: 300px;
    margin: 20px auto;
    position: static;
}
}
/* Tablet (768px and up) */
@media screen and (min-width: 768px) {
    nav {
        flex-direction: row;
        padding: 20px;
        justify-content: space-between;
    }

    nav h2 {
        margin-left: 30px;
    }
/*  */
    nav li {
        display: inline;
        margin-left: 40px;
    }

    .signup-btn {
        margin-left: 20px;
        width: auto;
    }

    .ride {
        width: 350px;
        margin-left: 40px;
        margin-top: 40px;
    }

    .maps-img {
        width: calc(100% - 430px);
        margin-left: 390px;
        margin-top: -380px;
        height: 350px;
    }
    .content .main .coustomers{
        font-size: 14px;
        padding: 12px;

        display: flex;
        flex-direction:row;
        gap: 8px;
    }
}

/* Desktop (1024px and up) */
@media screen and (min-width: 1024px) {
    nav h2 {
        margin-left: 50px;
    }

    nav li {
        /* margin-left: 100px; */
    }

    .signup-btn {
        margin-left: 50%;
    }

    .ride {
        width: 300px;
        margin-left: 100px;
        margin-top: 50px;
        height: 400px;
    }

    .maps-img {
        width: 600px;
        height: 400px;
        margin-left: 600px;
        margin-top: -450px;
    }
}

/* Large Desktop (1440px and up) */
@media screen and (min-width: 1440px) {
    .container {
        background-size: cover;
    }

    .maps-img {
        width: 800px;
    }
}

/* Fix for very small screens */
@media screen and (max-width: 360px) {
    .ride {
        width: 95%;
        padding: 8px;
    }

    .ride p {
        font-size: 24px;
    }

    .ride input {
        width: 95%;
    }
}